@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  outline: none; /* 대부분의 브라우저에서 포커스 아웃라인을 제거합니다. */
  border: none; /* 필요에 따라 기본 테두리를 재정의합니다. */
  box-shadow: none; /* 포커스 시 적용되는 글로우 효과나 그림자를 제거합니다. */
}
